/* * {
    border: 1px solid red;
} */

body {
    background-color: rgb(32,38,52);
    color: white;
}
/*navigation bar at the top of page*/
#navBar {
    min-width: 100%;
}

#navList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: flex-end;
    text-align: center;
    background-color: #283044;
    
    
}
#navLogo {
    margin-right: auto;
}

li {
    text-align: center;
    margin: 1em;
}
/*Main box where image and game info is*/
#hero {
    background-color: #283044;
    color: #f6f8f7;
    box-shadow: black;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    min-width: 100%;
}
/*picture*/
#dsRemastered {
    height: 275px;
    width: 275px;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    
}

#gameTitle {
    display: flex;
    flex-direction:column;
    padding: 24px;
    justify-content: space-around;
}

#titleButtons{
    display: flex;
    justify-content: space-evenly;
}
.btn btn-dark {
    background-color: #ffffff;
    color: #283044;
}
/*Game Rating and Time to Beat section*/
#beatRating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #283044;
    color: #f6f8f7;
    box-shadow: black;
    border-radius: 24px;
    min-height: 15vh;
    margin: 1em;
}

#Beat {
    text-align: center;
    width: 50%;  
}

/*Creates border in table for dividers*/
#Beat #Fourty, #Sixty, #Story, #Everything {
    border-left: solid 1px;
    border-right:solid 1px;
}

#hour {
    border: 1px solid;
}



#RateThisGame {
    display:flex;
    flex-direction: column;
}

#RateTable {
    margin:1em;
}

#communityRatings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #283044;
    flex-grow: 1;
    color: #f6f8f7;
    box-shadow: black;
    border-radius: 24px;
    min-height: 15vh;
    margin: 1em;
    text-align: center;

}

#communityRatings h5 {
    margin-top: 1em;
}

#peopleLike {
    border-left: 1px solid;
    border-right: 1px solid;
}

#topGuideSections {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #283044;
    flex-grow: 1;
    color: #f6f8f7;
    box-shadow: black;
    border-radius: 24px;
    min-height: 20vh; 
    margin:1em;
}

#topGuides {
    list-style-type: disc;
    color: #f6f8f7;
}

#topGuides #Guides {
    margin: 3em;
    width: 100%;
   }

/*Hyperlink colors*/
a:link {
    color:#f6f8f7;
}

a:visited {
    color:#f6f8f7;
}

